body {
	background-image: url("http://newartcolorz.com/images/donut-wallpaper/kartandtinki1_donut-wallpaper_11.jpg");
}

table {
  width: 800px;
  height: 450px;
  margin: auto;
  background-color:#B8B8B8;
}

th {
  background-color: #CC3333;
  text-align: left;
  font-size: 20px;
    color: white;
    font-family: Lucida Sans Unicode;
    height: 90px;
    padding-left: 25px;
}

td {
  padding-left: 25px;
  vertical-align: top;
}

#nav {
  width: 100%;
  float: left;
  margin: 0 0 1em 0;
  padding: 0;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;  }
#nav ul {
  list-style: none;
  width: 800px;
  margin: 0 auto;
  padding: 0; }
#nav li {
  float: left; }
#nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #069;
  border-right: 1px solid #ccc; }
#nav li:first-child a {
  border-left: 1px solid #ccc; }
#nav li a:hover {
  color: #c00;
  background-color: #fff; }
#sales_report {
  width: 800px;
  margin: auto;
  background-color:#CC3333;
  text-align: center;
  font-size: 22px;
  color: white;
    font-family: Lucida Sans Unicode;
    height: 40px;
}